/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    background-color: #2c3e50;
}

header {
    background-color: #2c3e50;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.balance, .market-overview, #buy-sell, #transactions {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #2c3e50;
}

#balance-display {
    font-size: 1.5em;
    font-weight: bold;
}

#market-data {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form select, form input, form button {
    margin: 10px;
}

form input, form select {
    padding: 10px;
    font-size: 1em;
}

form button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #27ae60;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
}


